[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-google-genai = "*"
langchain-community = "*"
python-docx = "*"
docx2txt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
